.tinggihalaman {
  min-height: 600px;
}

.navbar {
  border: 0;
  background-color: #2d2d30;
  margin-bottom: 0;
  border-radius: 0;
  font-size: 12px !important;
  line-height: 1.5;
  letter-spacing: 4px;
  opacity: 0.6;
}

.footer {
  background-color: #2d2d30;
  color: #fff;
  padding: 5px;
  position: relative;
}

.navbar li a, .navbar .navbar-brand {
  color: #d5d5d5 !important;
}

.navbar-nav li a:hover:not(.active){
  background-color: grey;{
  color: #fff !important;
}

.navbar-nav li.active a {
  color: #fff !important;
  background-color:#29292c !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff;
}

.marginheader {
  margin-top: 50px;
}

.vitra-background-toska{
  background-color: #1abc9c;
  height: 250px;
  width: 100%;
  min-height: 600px;
}

.vitra-background-red{
  background-color: #474e5d;
  height: 250px;
  width: 100%;
}

body {
  font-family: 'Courier New', cursive;
  margin: 0;
  width: 100%;
  height: 100%;
}

.header {
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: skyblue;
    padding: 10px 10px;
    text-align: center;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Courier New', cursive;
    color: cobaltblue;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

p.solid {border-style: solid;}
