.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #141f1f;
}

.vitra-footer {
  color: white;
  margin: 15px 0px;
}

.vitra-background-info-penyakit {
  min-height: 610px;
  background-color: #1abc9c;
  margin-top: -20px;
}

.vitra-background-hasil {
  min-height: 610px;
  background-color: #1abc9c;
  margin-top: -20px;
}

.vitra-background-info-klinik {
  min-height: 610px;
  background-color: #1abc9c;
  margin-top: -20px;

}

.vitra-background-info2 {
    background-color: #e0ebeb;
    height: 200px;
    padding: 15px;
}

.vitra-background-beranda {
  min-height: 610px;
  margin-top: -20px;
}

#vitra-background-green {
  background-color: #1abc9c;
  height: 380px;
  width: 100%;
}

#vitra-background-grey {
  background-color: #e0ebeb;
  height: 305px;
  width: 100%;
}

#vitra-background-deep {
  background-color: #324e4e;
  height: 550px;
  width: 100%;
}

.vitra-tagline {
  color: white;
  margin-top: 20px;
  font-size: 25px;
}

.vitra-daftar{
  color: black;
  margin-top: 20px;
  font-size: 20px;
}

.vitra-tentang{
  color: white;
  margin-top: 80px;
  font-size: 20px;
}

.vitra-background-kontak {
  min-height: 610px;
  background-color: #1abc9c;
  margin-top: -20px;
}

.vitra-background-bantuan{
  min-height: 610px;
  background-color: #1abc9c;
  margin-top: -20px;
}

.vitra-background-cara{
  background-color: #e0ebeb;
  height: 270px;
  padding: 15px;
}

.vitra-background-daftar {
  min-height: 610px;
  background-color: #1abc9c;
  margin-top: -20px;
}

.vitra-background-masuk {
  min-height: 610px;
  background-color: #1abc9c;
  margin-top: -20px;
}

.vitra-background-mulai-konsul {
  min-height: 610px;
  background-color: #1abc9c;
  margin-top: -20px;
}

.vitra-background-riwayat {
  min-height: 610px;
  background-color: #1abc9c;
  margin-top: -20px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #e0ebeb;
}

.carousel-indicators li {
    border-color: #e0ebeb;
}

.carousel-indicators li.active {
    background-color: #e0ebeb;
}

.carousel-inner img {
    width: 90%;
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 500px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

.item p {
    font-size: 19px;
    line-height: 1.5em;
    font-weight: 400;
    margin: 80px 0;
}

.item span {
    font-style: normal;
}

.marginheader {
  margin-top: 50px;
}

body {
  font-family: 'Lucida Console', serif;
  margin: 0;
  width: 100%;
  height: 100%;
}

.header {
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: skyblue;
    padding: 10px 10px;
    text-align: center;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lucida Console', serif;
    color: cobaltblue;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

p.solid {border-style: solid;}
