.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #141f1f;
}

.vitra-footer {
  color: white;
  margin: 15px 0px;
}

.vitra-background-info-penyakit {
  min-height: 610px;
  background-color: #1abc9c;
  margin-top: -20px;
}

.vitra-background-info {
    background-color: #e0ebeb;
    height: 550px;
    padding: 15px;
}

.vitra-background-beranda {
  min-height: 610px;
  margin-top: -20px;
}

#vitra-background-green {
  background-color: #1abc9c;
  height: 380px;
  width: 100%;
}

#vitra-background-grey {
  background-color: #e0ebeb;
  height: 305px;
  width: 100%;
}

.vitra-tagline {
  color: white;
  margin-top: 20px;
  font-size: 32px;
}

.vitra-background-kontak {
  min-height: 610px;
  background-color: #1abc9c;
  margin-top: -20px;
}

.vitra-background-bantuan{
  min-height: 610px;
  background-color: #1abc9c;
  margin-top: -20px;
}

.vitra-background-cara{
  background-color: #e0ebeb;
  height: 200px;
  padding: 15px;
}

.vitra-background-daftar {
  min-height: 610px;
  background-color: #1abc9c;
  margin-top: -20px;
}

.vitra-background-masuk {
  min-height: 610px;
  background-color: #1abc9c;
  margin-top: -20px;
}

.vitra-background-mulai-konsul {
  min-height: 610px;
  background-color: #1abc9c;
  margin-top: -20px;
}

.vitra-background-riwayat {
  min-height: 610px;
  background-color: #1abc9c;
  margin-top: -20px;
}

.marginheader {
  margin-top: 50px;
}

body {
  font-family: 'Courier New', cursive;
  margin: 0;
  width: 100%;
  height: 100%;
}

.header {
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: skyblue;
    padding: 10px 10px;
    text-align: center;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Courier New', cursive;
    color: cobaltblue;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

p.solid {border-style: solid;}
