{% extends 'sitederma/base.html' %}

{% block content %}

<div class="container-fluid vitra-background-riwayat">
<div class="container-fluid tinggihalaman">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div style="margin-top:200px;">
      <h2 class="text-center">Konfirmasi akun Anda sudah berhasil dan sudah aktif, silahkan <a href="{% url 'sitederma:login' %}">Masuk</a> untuk melakukan konsultasi dan melihat riwayat konsultasi</h2>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
</div>

{% endblock %}
