{% extends 'sitederma/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid vitra-background-bantuan">
  <div class="row">

      <div class="row" style="margin-top: 50px;">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="col-md-4 text-center">
            <img src="{% static 'image/kucing.jpg'%}" width="200" height="200"/>
          </div>
          <div class="col-md-8 text-left vitra-background-cara">
              <h4> Petunjuk Penggunaan Aplikasi </h4>
              <ol class="cara">
                <li id="isi">Untuk melihat info penyakit dan info klinik, klik menu info.<br></li>
                <li id="isi">Untuk mulai melakukan konsultasi silahkan daftar atau masuk terlebih dahulu.<br></li>
                <li id="isi">Untuk daftar, klik pada tombol "Daftar" pada bagian paling bawah halaman beranda.<br></li>
                <li id="isi">Untuk masuk, klik pada tombol "Masuk" pada bagian paling bawah halaman beranda.<br></li>
                <li id="isi">Untuk melakukan konsultasi, klik menu konsultasi dan pilih submenu mulai konsultasi.<br></li>
                <li id="isi">Masukkan data kucing yang akan didiagnosa, lalu klik tombol "Simpan".<br></li>
                <li id="isi">Daftar pertanyaan akan tampil, jawablah pada pilihan jawaban yang tersedia.<br></li>
                <li id="isi">Klik tombol "Submit" pada bagian bawah halaman untuk mendapatkan hasil diagnosa.<br></li>
                <li id="isi">Untuk menyimpan hasil diagnosa klik pada tombol "Simpan"<br></li>
                <li id="isi">Untuk melihat riwayat konsultasi, klik menu konsultasi dan pilih submenu riwayat konsultasi.<br><br></li>
              </ol>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>

    </div>
  </div>

{% endblock %}
