{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
  <link rel="shortcut icon" href="{% static 'image/Logo1.png'%}"/>
  <title> Feline Dermatology</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'css/sitederma.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'sitederma:home_utama' %}">FiDerma</a>
      </div>
      {% if user.is_authenticated %}
      <ul class="nav navbar-nav">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{request.user.username}}</a></li>
        <li><a href="{% url 'sitederma:home_utama' %}">Beranda</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Konsultasi<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'sitederma:konsultasi' %}">Mulai Konsultasi</a></li>
              <li><a href="{% url 'sitederma:riwayat' %}">Riwayat Konsultasi</a></li>
            </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Info<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'sitederma:infopenyakit' %}">Info Penyakit</a></li>
              <li><a href="#">Info Klinik</a></li>
            </ul>
        </li>
        <li><a href="{% url 'sitederma:kontak' %}">Kontak</a></li>
        <li><a href="{% url 'sitederma:help'%}">Bantuan</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'sitederma:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Keluar</a></li>
      </ul>
      {% else %}
      <ul class="nav navbar-nav">
        <li><a href="{% url 'sitederma:home_utama' %}">Beranda</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Konsultasi<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'sitederma:konsultasi' %}">Mulai Konsultasi</a></li>
              <li><a href="{% url 'sitederma:riwayat' %}">Riwayat Konsultasi</a></li>
            </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Info<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'sitederma:infopenyakit' %}">Info Penyakit</a></li>
              <li><a href="#">Info Klinik</a></li>
            </ul>
        </li>
        <li><a href="{% url 'sitederma:kontak' %}">Kontak</a></li>
        <li><a href="{% url 'sitederma:help'%}">Bantuan</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'sitederma:signup' %}"><span class="glyphicon glyphicon-user"></span> Daftar</a></li>
        <li><a href="{% url 'sitederma:login' %}"><span class="glyphicon glyphicon-log-in"></span> Masuk</a></li>
      </ul>
      {% endif %}
    </div>
  </nav>

      {% block content %}

      {% endblock %}

      <footer class="footer">
        <div class="container">
          <div class="row vitra-footer text-center">
            <p>&copy; FiDerma 2017 Design by Vitra Yolanda Aprilia</p>
          </div>
        </div>
      </footer>

      <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
      <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    </body>

</html>
