{% extends 'sitederma/base.html' %}
{% block content %}

<style>
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
  background-color: #1abc9c;
  color: #ffffff;
}
.container-fluid {
  padding-top: 100px;
  padding-bottom: 70px;
}
</style>
<div class="container-fluid">
  <div class="row-center">
   <div class="col-md-0 col-md-3">
      <h4>Halaman Bantuan</h4>
      <div class="container bg-1 text-center">
          <h4 class="margin">Cara Menggunakan Aplikasi</h4>
          <p>how-to</p>
          <p>how-to1</p>
          <p>how-to2</p>
          <p>how-to3</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
