{% extends 'sitederma/base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid vitra-background-beranda">
  <div class="row">
    <div id="vitra-background-green">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <div style="margin: 50px 0px;">
          <img src="{% static 'image/kucing.jpg'%}" class="img-circle" width="200" height="200"/>
          <p class="vitra-tagline">Selamat datang di Feline Dermatology</p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="row">
    <div id="vitra-background-grey">
    </div>
  </div>
</div>
{% endblock %}
