{% extends 'sitederma/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid vitra-background-kontak">
  <div class="row" style="margin-top: 100px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <br>
      <div class="panel  panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Pengembang</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4 text-center" style="margin-top: 25px;">
              <img src="{% static 'image/pasfoto.jpg'%}" class="img-thumbnail" width="200" height="200"/>
            </div>
            <div class="col-md-8">
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Nama:</td><td>Vitra Yolanda Aprilia</td>
                  </tr>
                  <tr>
                    <td>Pendidikan:</td><td>Universitas Gundarma</td>
                  </tr>
                  <tr>
                    <td>Jurusan:</td><td>Sistem Informasi</td>
                  </tr>
                  <tr>
                    <td>NPM:</td><td>191131777</td>
                  </tr>
                  <tr>
                    <td>Kontak:</td><td>081250750107</td>
                  </tr>
                  <tr>
                    <td>Email:</td> <td>vitra.yolanda06@gmail.com</td>
                  </tr>
                  <tr>
                    <td>Alamat:</td><td>Telaga Golf Cluster Espanola CIII No.3 Sawangan, Depok</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </br>

    <br>
    <div class="panel  panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Pakar</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4 text-center" style="margin-top: 25px;">
            <img src="{% static 'image/fotopakar.jpg'%}" class="img-thumbnail" width="200" height="200"/>
          </div>
          <div class="col-md-8">
            <table class="table table-user-information">
              <tbody>
                <tr>
                  <td>Nama Pakar:</td><td>Drh. Herisman Hernadi, DVM</td>
                </tr>
                <tr>
                  <td>Pendidikan:</td><td>Fakultas Kedokteran Hewan Institut Pertanian Bogor</td>
                </tr>
                <tr>
                  <td>Spesialisasi:</td><td>Dermatology Practitioner di Pet Derm Clinic, BSD City</td>
                </tr>
                <tr>
                  <td>Alamat Klinik:</td><td>Pet Derm Clinic - Ruko Tol Boulevard, Jl. Pelayangan, Rw. Buntu, Serpong, Kota Tangerang Selatan, Banten 15310, Indonesia</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </br>

    </div>
    <div class="col-md-2"></div>
  </div>
</div>
{% endblock %}
