{% extends 'sitederma/base.html' %}
{% load staticfiles %}
{% block content %}

<style>
.container-fluid {
  padding-top: 100px;
  padding-bottom: 70px;
}
</style>

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <br>
              <div class="panel  panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">Vitra Yolanda Aprilia</h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-3 col-kg-3" align="center"></div>
                    <div class="col-md-9 col-lg-9">
                      <table class="table table-user-information">
                        <tbody>
                          <tr>
                            <td>Pendidikan:</td>
                            <td>Universitas Gundarma</td>
                          </tr>
                          <tr>
                            <td>Jurusan:</td>
                            <td>Sistem Informasi</td>
                          </tr>
                          <tr>
                            <td>NPM:</td>
                            <td>191131777</td>
                          </tr>
                          <tr>
                            <td>Kontak:</td>
                            <td>081250750107</td>
                          </tr>
                          <tr>
                            <td>Email:</td>
                            <td>vitra.yolanda06@gmail.com</td>
                          </tr>
                          <tr>
                            <td>Alamat:</td>
                            <td>Telaga Golf Cluster Espanola CIII No.3 Sawangan, Depok</td>
                          </tr>
                        </tbody>
                      </table>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</br>
{% endblock %}
