{% extends 'sitederma/base.html' %}

{% block content %}

<script>
  {% if user.is_authenticated %}
    window.location = "{% url 'sitederma:home_utama' %}";
  {% endif %}
</script>

<div class="container-fluid vitra-background-masuk">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div style="margin-top:200px;">
      <form action="" method="POST">{% csrf_token %}
        <div>
          {% for field in form %}
          <div style="margin-top: 10px; color:black;">
            {{ field.label_tag|escape }}
            {{ field }}
          </div>
          {% endfor %}
        </div>
        <div class="text-center" style="margin-top: 20px;">
          <button type="submit" name="login" class="btn btn-default">Masuk</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock %}
